
/*reset des calibrages mis à 0 de tous les éléments*/
/*@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");*/

/*CSS par défaut*/
/*import de la police*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Raleway', 'Courier New', Courier, monospace;
}
/*palette couleur*/
:root {
    --colorBlack: #000000;
    --colorBlue: #0065FC;
    --colorclearBlue: #DEEBFF;
    --colorGrey: #F2F2F2;
    --colorWhite: #fff;
}

/*body*/
.mainContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/*Header*/
.navContainer {
    display :flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em 1em;
    width: auto;
}

header nav {
    display :flex;
    flex-wrap: wrap;
    align-items: center; 
    list-style-type: none;
}
.link {
    display:flex;
    justify-content: flex-end;
    width: 75%;
}

header a{
    padding: 30px;
    text-decoration: none;
    color: var(--colorBlack);
    font-weight: bold;
}

header a:hover{
    color: var(--colorBlue);
    border-top-style : solid;
    border-width : 0.1em; 
}
.logo{
    width: 160px;
}
header img{
    width: 100%;
}

/*Main*/
main {
    margin: 1em;
}
        /*Zone de recherche*/
main i{
    color: var(--colorBlue) ;
    font-size: large;
}
.searchContainer{ 
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 420px;
}
.searchContainer .mapLogo {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: var(--colorGrey);
    color: var(--colorBlue);
    height: 40px;
    width: 10%;
    border-radius: 15px 0 0 15px;
}
.form{
    width: 60%;
}

.searchContainer input{
    border: solid var(--colorGrey) 0.1em;
    height: 40px;
    width: 100%;
    color: var(--colorBlack);
    font-size: 15px;
    font-weight: bold;
}
.searchContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40px;
    background-color:var(--colorBlue);
    border-radius: 0 15px 15px 0;
    border-style: none;
    color: var(--colorWhite);
    font-size: 15px;
    font-weight: bold;
}
.responsiveLogo button{
    display: none;
}

        /*Filtres*/
.filtersPart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filtersContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 950px;
    padding: 0px;
    margin: 0px;
}

.f{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eco {
    width: 180px;
    margin: 10px;

}

.i-eco{
    position: absolute; 
    left: -20;
}
.fam {
    width: 140px;
    margin: 10px;

}

.i-fam{
    position: absolute; 
    left: -20;
}

.rom {
    width: 160px;
    margin: 15px;
}

.i-rom{
    position: absolute; 
    left: -20;
}
.ani {
    width: 220px;
    margin: 10px;

}

.i-ani{
    position: absolute; 
    left: -20;
}

.filtersContainer i{
    display: flex; 
    align-items:center;
    justify-content: center;
    border : solid 0.1em none;
    border-radius: 50px;
    background-color: var(--colorclearBlue) ;
    height: 41px;
    width: 45px;
}

.filtersContainer a{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border : var(--colorGrey) solid 0.1em;
    border-radius: 30px;
    background-color: var(--colorWhite);
    color: var(--colorBlack);
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    height: 38px;
}

.filtersContainer a:hover {
    color: var(--colorBlue);
    background-color: var(--colorclearBlue);
}

        /*Info*/
.infoContainer{
   display: flex; 
   flex-direction:row;
   align-items:center;
   width: 100%;
}
 
.infoContainer i{
    display: flex; 
    align-items: center;
    justify-content: center;
    border : solid 0.1em var(--colorGrey) ;
    border-radius: 50px;
    height: 35px;
    width: 35px;
}
.infoContainer p{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 15px;
}
        
/*article et aside*/
.hotelMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em 1em;
}

/*article1*/
article{
    background: var(--colorGrey);
    flex-wrap: wrap;
    padding: 2em 1em;
    border-radius: 15px ;
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titleArticle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.accommodationMrs{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}

.card1 {
    display: flex;
    flex-direction: column;
    background-color: var(--colorWhite);
    border-radius:15px;
    border :none;
    box-shadow:2px 2px 5px;
    width:240px ;
    height: 200px;
    margin: 10px 0px;
    padding: 5px;
}

.card1 img {
    border-radius:15px 15px 0 0; 
    height: 130px;
    width: 240px;
    object-fit: cover;
}

.textH1{
    padding-left: 10px;
}
.textH1 h4 {
    padding: 0px;
    margin: 0px;
}

.textH1 p {
    padding:0px;
    margin: 0px;
}
.card1 a {
    text-decoration: none;
    color: var(--colorBlack);
}
.linkMore a {
    text-decoration: none;
    color: var(--colorBlack);
    font-size: 1em;
    font-weight: bold;}

.linkMore{
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}
        /*Etoiles*/
.blueStars{
    color: var(--colorBlue);
}
.greyStars{
    color: var(--colorclearBlue);
}
.hotelRating{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*aside, les plus populaires*/
aside{ 
    background: var(--colorGrey);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 16px 32px 16px;
    border-radius: 15px;
}

.popContainer{
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap :wrap;
    flex-direction: column;
    padding-top: 10px;
    height:508px;
    width: 100%;
}

.titleAside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.titleAside i {
    font-size: 25px;
}

.card2 {
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: var(--colorWhite);
    border-radius:15px;
    box-shadow:2px 2px 5px;
    width: 345px;
    height: 145px;
    padding: 5px;
}

.ImageH2{
    width: 35%;
    padding: 0px;
    margin: 0px;
}
.ImageH2 img{
    border-radius:15px 0 0 15px; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textH2 {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.textH2 p {
    padding-left: 20px;
    margin: 0;
}
.textH2 h4 {
    padding: 10px 0px 10px 20px;
    margin: 0;
}
.textH2 .hotelRating{
    padding-left: 20px;
    padding-top: 60px;
}
.textH2 .hotelRatingSpe{
    padding-left: 20px;
    padding-top: 45px;
    display: flex;
}
.card2 a {
    text-decoration: none;
    color: var(--colorBlack);
    display: flex;
    flex-direction: row;
}
/*article2*/
section{
    width: 100%;
    margin-bottom: 2em;
    margin-left: 1em;
}

.activityContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 100%;
}
.activityContainer a {
    text-decoration: none;
    color: var(--colorBlack);
}

.highBlock {
    width: 300px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-wrap: wrap;
}
#cardPort img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 410px;
    object-fit: cover;
}

#cardParc img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 410px;
    object-fit: cover;
}
.smallBlock {
display: flex;
flex-direction: column;
height: 450px;
width: 300px;
flex-wrap: wrap;
justify-content:space-between;
}
#cardPomegues {
    width: 300px;
    height: 240px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
#cardPomegues img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#cardFrioul {
    width: 300px;
    height: 170px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start
}

#cardFrioul img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 130px;
    object-fit: cover;
}
#cardNotredame {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#cardNotredame img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

#cardLongchamp {
    width: 300px;
    height: 210px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px ;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#cardLongchamp img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

section h4 {
    padding: 0;
    margin:0.7em 0 0.7em 1.3em;
}
/*footer*/
footer{
    background-color: var(--colorGrey);
    padding: 2em 1em;
}

.footerContainer {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 70%;
}

footer a {
   text-decoration: none;
   color: var(--colorBlack);
   font-size: small;
}


/********/
/*Tablet*/
/********/
/*regles CSS pour tablettes ici*/
@media screen and (min-width: 576px) and (max-width: 1024px){

/*Header*/
.navContainer {
    padding: 1em;
}

header nav ul{
    display :flex;
    flex-wrap: wrap;
    align-items: center; 
    list-style-type: none;
}
.link {
    display:flex;
    justify-content: flex-end;
    width: 50%;
}

header a{
    padding: 15px;
    text-decoration: none;
    color: var(--colorBlack);
    font-weight: bold;
}

header a:hover{
    color: var(--colorBlue);
    border-top-style : solid;
    border-width : 0.1em; 
}
.logo{
    width: 160px;
}
header img{
    width: 100%;
}


/*Main*/

        /*Filtres*/
.filtersContainer{
    justify-content: flex-start;
    width: 100%;
}
        /*Info*/
      
/*article et aside*/
.hotelMainContainer{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

/*article1*/
article{
    background: none;
    padding: 1em;
    margin:0em;
    width: 65%;
}
.accommodationMrs{
    padding: 0px;
    width: 100%;
}

.card1 {
    width:100% ;
    height: 200px;
    margin: 10px 0px;
    padding: 5px;
}

.card1 img {
    height: 135px;
    width: 100%;
}
.textH1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
        /*Etoiles*/

/*aside, les plus populaires*/
aside{ 
    width: 65%;
    padding: 1em;
    margin: 0px;
}

.popContainer{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.titleAside{
    width: 100%;
}

.card2 {
    width: 100% ;
    margin: 0px;
    padding: 0px;
    height: 143px;
}

.ImageH2 img{
    width: 100%;
    padding: 0px;
}

.textH2 {
    width: 300px;
    justify-content: center;
    align-items: center;
}

.textH2 .hotelRating{
    padding-top: 45px;
}
.textH2 .hotelRatingSpe{
    padding-top: 45px;
}

/*article2*/


.activityContainer {
    width: 65%;
}

.highBlock {
    margin-bottom: 2.5em;
}

.smallBlock {
    margin-bottom: 2.5em;
}


section h4 {
    padding: 0;
    margin:0.7em 0 0.7em 1.3em;
}
/*footer*/


}

/**************/
/*Mobile Phone*/
/**************/
/*regles CSS pour téléphones portables ici*/
@media screen and (max-width: 575px) {

/*Header*/
.navContainer {
    justify-content: space-between;
    padding: 1em;
}

header nav ul{
    width: 100% ;
    padding:0;
}

.link{
    width: 100%;
    order:3;
}

.link a{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
    border-bottom: solid;
    /**********prbleme de cascade border-color: var(--colorGrey);*/
}

.link a:hover{
    color: var(--colorBlue);
    border-top-style: none;
    border-bottom-style: solid;
    border-width : 0.2em; 
}

.navRegistration a:hover{
    border: none;
}

.logo{
    width: 140px;
    order: 1;
}

.navRegistration{
    order:2;
}

.navAccommodation{
    width: 50%;
}

.navActivities{
    width: 50%;
}

/*Main*/

        /*Zone de recherche*/

.searchContainer{
    width: 300px;
}

.searchContainer button {
    display: none;
}

.responsiveLogo{
    width: 40px;
}

.searchContainer .responsiveLogo i {
    color:var(--colorWhite);
    font-size: 15px;
}

.searchContainer .mapLogo i {
    font-size: 20px;
}

.responsiveLogo button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color:var(--colorBlue);
    border-radius: 10px;
    border-style: none;
    position: relative;
    left: -8px;
}

        /*Filtres*/
.filtersPart {
    display: flex;
    flex-direction: column;
}

.filtersContainer{
    justify-content: flex-start;
    width: 100%;
}

        /*Info*/

        
/*article et aside*/
.hotelMainContainer{
    flex-direction: column-reverse;
    padding: 0px;
}

/*article1*/
article{
    background: none;
    padding: 1em;
    margin:0em;
    width: 92%;
}
.accommodationMrs{
    padding: 0px;
    width: 100%;
}

.card1 {
    width:100% ;
    height: 200px;
    margin: 10px 0px;
    padding: 5px;
}

.card1 img {
    height: 135px;
    width: 100%;
}
        /*Etoiles*/

/*aside, les plus populaires*/
aside{ 
    width: 92%;
    padding: 1em;
    margin: 0px;
}

.popContainer{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.titleAside{
    width: 100%;
}

.card2 {
    width: 100% ;
    margin: 0px;
    padding: 0px;
    height: 143px;
}

.ImageH2 img{
    width: 100%;
    padding: 0px;
}

.textH2 {
    width: 190px;
}

.textH2 .hotelRating{
    padding-top: 35px;
}
.textH2 .hotelRatingSpe{
    padding-top: 35px;
}

/*article2*/

.activityContainer {
    width: 92%;
}

.highBlock {
    width: 100%;
    height: 200px;
    margin-bottom: 1em;
}

#cardPort img{
    height: 158px;
}

#cardParc img{
    height: 158px;
}
.smallBlock {
margin-bottom: 1em;
height: 416px;
width: 100%;
}

#cardPomegues {
    width: 100%;
    height: 200px;
}

#cardPomegues img {
    width: 100%;
    height: 158px;   
}

#cardFrioul {
    width: 100%;
    height: 200px;
}

#cardFrioul img {
    width: 100%;
    height: 158px;
}
#cardNotredame {
    width: 100%;
    height: 200px;
}
#cardNotredame img {
    width: 100%;
    height: 158px;
}

#cardLongchamp {
    width: 100%;
    height: 200px;
}
#cardLongchamp img {
    width: 100%;
    height: 158px;
}


/*footer*/


.footerContainer {
   flex-direction: column;
   width: 100%;
}

}
    