/*CSS par défaut*/

/*body*/
body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header*/
header {
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;

}

header nav ul
{
    display :flex;
    flex-wrap: wrap;
    align-items: center; 
    list-style-type: none;
}

header ul li a
{
    padding: 50px;
    text-decoration: none;
    color : black; 
    font-size: 1rem;
    font-weight: bold;
}
header ul li a:hover
{
color:#0065FC;
border-top-style: solid;
border-width: 0.1rem; 
}

header img
{
    width: 160px;
}
/*Main*/
main {
    padding: 1rem 1rem;
}
        /*Zone de recherche*/
main i
{
    color:#0065FC ;
    font-size: large;
}
.recherche{ 
    display:flex;
    flex-direction: row;
    align-items: center;

}
.recherche i {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 15px 0 0 15px;
}
.recherche input{
    border: solid #F2F2F2 0.1rem;
    height: 40px;
    width: 250px;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.recherche button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    background-color:#0065FC;;
    border-radius: 0 15px 15px 0;
    border-style: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
        /*Filtres*/
.container-filtres{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.f{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eco {
    width: 180px;
    margin: 20px;
}

.i-eco{
    display: flex; 
    align-items:center;
    position: relative;
    right: -57px;
}
.fam {
    width: 140px;
    margin: 20px;
}

.i-fam{
    display: flex; 
    align-items:center;
    position: relative;
    right: -57px;
}

.rom {
    width: 180px;
    margin: 20px;
}

.i-rom{
    display: flex; 
    align-items:center;
    position: relative;
    right: -57px;
}
.ani {
    width: 220px;
    margin: 20px;
}

.i-ani{
    display: flex; 
    align-items:center;
    position: relative;
    right: -57px;
}

.container-filtres i{
    display: flex; 
    align-items:center;
    justify-content: center;
    border : solid 0.1rem none;
    border-radius: 50px;
    background-color: #DEEBFF ;
    height: 40px;
    width: 45px;

}

.container-filtres a{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 15px;
    border : #f2f2f2 solid 0.1rem;
    border-radius: 0 30px 30px 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-right:10px ;
    height: 38px;
}

.container-filtres a:hover{
    color: #0065FC;
    background-color: #DEEBFF;}

        /*Info*/
.container-info{
   display: flex; 
   flex-direction:row;
   align-items:center;}
 
.container-info i{
    display: flex; 
    align-items: center;
    justify-content: center;
    border : solid 0.1rem #F2F2F2 ;
    border-radius: 50px;
    height: 35px;
    width: 35px;
}
.container-info p{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 15px;
}
        
/*article et aside*/
.Hebergements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
}


/*article1*/
article{
    background:#F2F2F2;
    flex-wrap: wrap;
    padding: 2em 1em;
    border-radius: 15px ;
    width: 63%;
}
.encarthebMrs{
    display:flex;
    flex-wrap :wrap;
    justify-content: space-between;
    align-items: center;
    
}
.Heb1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius:15px;
    border :solid;
    width:250px ;
}

.Heb1 img {

    border-radius:15px 15px 0 0; 
    height: 100px;
    width: 240px;
}
        /*Etoiles*/

article .avecetoiles{
    color: #0065FC;
}
article .sansetoile{
    color: #bdbdbd;
}
.classement{
    display: flex;
    flex-direction: row;
}

/*aside*/
aside{ 
    background:#F2F2F2;
    width: 30%;
    flex-wrap: wrap;
    padding: 2em 1em;
    border-radius: 15px;
}

.encartlespop{
    display:flex;
    flex-wrap :wrap;
    align-items: center;
    flex-direction: column;
}
.titrepop {
    display: flex;
    flex-direction: row;
}
.titrepop i{
    position: relative;
    left: 70px;
    top: 20px;
}
/*article2*/
section{
background: forestgreen;
padding: 2em 1em;

}
/*footer*/
footer{
    background: greenyellow;
    padding: 2em 1em;
    flex-wrap: wrap;

}
/*regles CSS pour mobiles ici*/
/*les périphériques mobiles ne dépassent pas 480 px de large*/
@media screen and (max-width: 680px){
    article {
        background-color: brown;
    }
    .Hebergements{
        display: flex;
        flex-direction: column-reverse;
    }

}